<div id="container">

    <img src="/assets/img/burger.png" alt="Burger" id="burgerPic">

    <h1>Eat-Da-Burger!</h1>

    <div id="not-devoured-box">
    <ul id="not-devoured">
        <lh>To Eat:</lh>
        {{#each burgers}}
            {{#unless devoured}}
                <li>
                    {{burger_name}}
                    <button class="devourButton" data-id="{{id}}">
                        Devour it!
                    </button>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
    </div>

    <div id="devoured-box">
    <ul id="devoured">
        <lh>Eaten:</lh>
        {{#each burgers}}
            {{#if devoured}}
                <li>{{burger_name}}</li>
            {{/if}}
        {{/each}}
    </ul>
    </div>

    <div id="newBurger">
    <h2>Add a Burger</h2>
    <form class="newBurgerform">
        <div class="form-group">
            <label for="newBurgerName">Burger Name:</label>
            <input type="text" id="newBurgerName" name="burger_name">
        </div>

        <button type="submit" id="submitButton">Add Burger</button>
    </form>
    </div>

</div>